.whole_container {
    max-width: 1487px;
    height: auto;
    margin: auto;
    background-color: #ffffff;
    display: flex;
    font-family: 'Overpass';
}

.content_container {
    width: auto;
    height: auto;
}

.pic_container {
    width: 1252px;
    height: 420px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.one_pic {
    width: 600px;
    height: auto;
    grid-area: 1 / 1 / 3 / 3;
    background-image: url("https://avocet.superavis.com/avocet-2/wp-content/uploads/sites/5/2015/04/Massimo-Dutti-Apres-Ski-Fall-Winter-2014-Collection-01.jpg");
    background-size: cover;
    background-position: 50% 10%;
}

.two_pic {
    width: 600px;
    height: auto;
    grid-area: 3 / 1 / 5 / 3;
    background-image: url("http://aarbmagazine.com/wp-content/uploads/1101001_1_1_10.jpg");
    background-size: cover;
    background-position: 50% 10%;
}

.three_pic {
    width: 652px;
    height: 420px;
    grid-area: 1 / 3 / 5 / 5;
    background-image: url("https://i.pinimg.com/originals/ad/ee/a6/adeea6951c80f21a3c2773db6d7c4adc.jpg");
    background-size: cover;
    background-position: 50% 10%;
}

.info_container {
    width: 1200px;
    height: 100px;
    margin: 55px auto;
    display: flex;
}

.info1, .info2, .info3, .info4 {
    width: 300px;
    height: auto;
    outline: 1px solid rgb(183, 177, 177);
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 12px;
}

.fa-solid.fa-truck, .fa-solid.fa-bag-shopping, .fa-solid.fa-info, .fa-solid.fa-briefcase {
    font-size: 27px;
    color: #ce9d22;
}

.text_info {
    margin-left: 30px;
}